# build
CMakeFiles/
build/
build_llvm/
build_qbe/
build_mir/

# outshit
out.*
output

# exes
mout
out
*.o
*.out
*.elf
*.exe

# alkyl specific
*.ast
*.tok
*.alir
*.semc

# why is there original and reject bro
*.orig
*.rej

# valgrind
*.valgrind*
vgcore.*
massif.out.*

# files pre
faranaiki

# llvm specific
*.ll

# assembly specific
out.s

# alkyl specific
alkyl
alkyl-cli
ethyl

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# makefile
Makefile
Testing/
CPackConfig.cmake
CPackSourceConfig.cmake

# others
alkyl.md
plan.md

# log diff
*.logdiff
test/logdiff

# compiler optimization
comp.test.kyl
*.link_stamp
*.stamp

# ??
Testing/

# Rust backend artifacts
src/codegen_cranelift/rust_backend/target/
src/codegen_cranelift/rust_backend/Cargo.lock

# Bazel
.bazelversion
bazel-*
*.lock
install_manifests.txt
install_manifest.txt

# Doxygen generated output
latex/
html/
Doxyfile

# VitePress / Node Docs
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
